@font-face {
  font-family: "nice-sugar";
  src: url("Nice-Sugar.woff") format("woff2"),
    url("Nice-Sugar.woff2") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "nice-sugar", sans-serif;
}

.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.main p {
  font-size: 1.7rem;
}

table {
  width: 25%;
  height: 25vw;
  table-layout: fixed;
}

td {
  width: 33%;
  height: 33%;
  text-align: center;
  border: 1px solid;
  font-size: calc(1rem + 5vw);
  user-select: none;
}

.empty-hover {
  color: rgba(0, 0, 0, 0.4);
}

.UI-buttons {
  display: flex;
  gap: 20px;
}

.UI-buttons button {
  font-size: 1.5rem;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid black;
  font-family: inherit;
}
