@font-face {
  font-family: "nice-sugar";
  src: url("Nice-Sugar.woff") format("woff2"),
    url("Nice-Sugar.woff2") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "nice-sugar", sans-serif;
  background: rgb(243, 129, 129);
  background: radial-gradient(
    circle,
    rgba(243, 129, 129, 1) 0%,
    rgba(252, 227, 138, 1) 100%
  );
}

.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.main p {
  font-size: 1.7rem;
  color: #eaffd0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

table {
  width: 25%;
  height: 25vw;
  table-layout: fixed;
}

td {
  width: 33%;
  height: 33%;
  text-align: center;
  border: 2px solid #95e1d3;
  font-size: calc(1rem + 5vw);
  user-select: none;
  color: #eaffd0;
}

.empty-hover {
  color: rgba(234, 255, 208, 0.4);
}

.UI-buttons {
  display: flex;
  gap: 20px;
}

.UI-buttons button {
  font-size: 2rem;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #fce38a;
  color: #f38181;
  border: none;
  transition: all 0.3s;
  font-family: inherit;
}

.UI-buttons button:active {
  background-color: #95e1d3;
}
