* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  justify-items: center;
  align-items: center;
}

table {
  width: 25%;
  height: 25vw;
}

td {
  border: 1px solid;
}

td {
  text-align: center;
  font-size: calc(1rem + 6vw);
  user-select: none;
}
